body {
    background-color: lightgray;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h2, p, .readme-wrapper {
    text-align: center;
}

.boxes {
    display: block;
    margin: 20px;
    width: 20%;
    padding: 0;
    border: solid;
    border-radius: 10%;
}

a :hover {
    cursor: pointer;
    font-style: bold;
    color: black;
}

span {
    color: blue;
    font-weight: 200;
}

#box1 {
    background-color: blueviolet;
}

#box2 {
    background-color: aqua;
}

#box3 {
    background-color: red;
}

#box4 {
    background-color: beige;
}

